img {
	height: 250px;
	width: 300px;
}
.container {
	width: 1000px;
	margin:0px auto;
	padding: 0px;
}

.item {
	display: block;
	margin-right: 30px;
	margin-bottom: 80px;
	float: left;
}
.name {
	color: blue;
	font-size: 21px;
	text-align: center;
}
.price {
	font-weight: bold;
	font-size: 16px;
}
.add-cart {
	text-align: center;
}
.add-cart a {
	text-decoration: none;
	color: #fff;
	display: inline-block;
	padding: 6px 12px;
	background-color: #5cb85c;
}
footer {
	clear: both;
}