*{margin: 0px; padding: 0px}
header{
	height: 100%;
}
.menu>ul>li{
	list-style: none;
	display: inline-block;
  	line-height: 40px;
  	padding: 5px 20px;
  	cursor: pointer;
  	background: #cccccc;
}
.menu>ul>li:hover{
	background-color: #dddd;
}
.menu{
	position: relative;
}
ul.sub-menu{
	position: absolute;
	display: none;
	margin-top: 5px;
}
ul.sub-menu>li{
	list-style: none;
	text-align: left;
	margin-left: -14px;		
}
.menu>ul>li:hover ul.sub-menu{
	display: block;
}
ul.sub-menu>li:hover{
	background-color: #359d23ee;
}